@import url('https://fonts.googleapis.com/css?family=Pirata+One');

* { box-sizing: border-box; }

body {
  width: 600px;
  margin: 30px auto;
  background-color: ##fffcfe;
}

h1 {
  font-family: 'Pirata One', serif;
  text-align: center;
  font-size: 54px;
  text-transform: uppercase;
  padding: 40px;
  background-color: rgba(238, 181, 252, 0.8);
  border-radius: 8px;
}


div {
  background-image: url("media/studio-neve-angle.jpg");
  border-radius: 8px;
  background-position: center;
}

p {
  display: inline-block;
  vertical-align: top;
  width: 290px;
  text-align: center;
  font-family: 'Arial', serif;
  height: 70px;
  background-color: rgba(238, 181, 252, 0.8);
}
a:link{
	text-decoration: none;
	color: black;
}
a:visited {
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: none;
	color: white;
}

.ButtonImage {
	background-image: url("media/Capture.png");
  border-radius: 8px;
  background-size: 300px;
  background-position: 50% 20%;
}
.Button {
  font-family: 'Pirata One', serif;
  text-align: center;
  font-size: 54px;
  text-transform: uppercase;
  padding: 20px;
  background-color: rgba(210, 244, 214, 0.8);
  border-radius: 8px;
}
h2 {
  font-family: 'Pirata One', serif;
  text-align: center;
  font-size: 36px; 
}
